/EjerciciosPOO/Colecciones/JavaApplication7/nbproject/private/
/EjerciciosPOO/Colecciones/Ej2/nbproject/private/
/EjerciciosPOO/Colecciones/Ej2/build/
/EjerciciosPOO/Colecciones/Ej3/nbproject/private/
/EjerciciosPOO/Colecciones/Ej3/build/
/EjerciciosPOO/Colecciones/Ej4/nbproject/private/
/EjerciciosPOO/Colecciones/Ej4/build/
/EjerciciosPOO/Colecciones/Ej5/nbproject/private/
/EjerciciosPOO/Colecciones/Ej5/build/
/EjerciciosPOO/Colecciones/Ej6/nbproject/private/
/EjerciciosPOO/Colecciones/Ej6/build/
/EjerciciosPOO/Colecciones/ExtraEj1/nbproject/private/
/EjerciciosPOO/Colecciones/ExtraEj1/build/
/EjerciciosPOO/Colecciones/ExtraEj2/nbproject/private/
/EjerciciosPOO/Colecciones/ExtraEj2/build/
/EjerciciosPOO/Colecciones/ExtraEj3/nbproject/private/
/EjerciciosPOO/Colecciones/ExtraEj3/build/
/EjerciciosPOO/Colecciones/ExtraEj4/nbproject/private/
/EjerciciosPOO/Colecciones/ExtraEj4/build/